<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Personer: </h2>
<p th:each="person : ${people}">
    <span th:text="${person.first_name}"></span>
    <span th:text="${person.last_name}"></span>
    <a th:href="@{'delete/' + ${person.id}}" th:text="Slet"/>
    <a style="color:green" th:href="@{'update/' + ${person.id}}" th:text="Update"/>
</p>

<form action="/create" method="post">
    <input type="text" name="first_name">
    <input type="text" name="last_name">
    <input type="submit" value="Opret person">
</form>
</body>
</html>